<!-- 结构树栏 v-show="statusData.modeID!=2"-->
<div class="tree" id="treeList">
    <div class="tree-content" v-show="statusData.isShowTree">
        <div id="tree"></div>
    </div>
  </div>

<!-- 画布1 -->
<div>
    <div class="tabs" id="tabList">
        <div class="tab-content" v-show="statusData.isShowTab">
            <div id="tab"></div>
        </div>
    </div>


    <!-- 画板 style="width: calc(100vw - 272px);height: calc(100vh - 100px);"> -->
    <div class="drawingBoard" id="drawingBoard" style="width: calc((100vw - 272px)/2);height: calc(100vh - 110px);">
        <div class="content" id="content" tabindex="0"></div>


        <div class="axis_x" id="axis_x">
            <canvas id="canvas_axis_x"></canvas>
        </div>

        <div class="axis_y" id="axis_y">
            <canvas id="canvas_axis_y"></canvas>
        </div>
    </div>
</div>

<!-- 画布2 -->
<div>
    <div class="tabs" id="tabList2">
        <div class="tab-content" v-show="statusData.isShowTab">
            <div id="tab2"></div>
        </div>
    </div>

    <div class="drawingBoard" id="drawingBoard2" style="width: calc((100vw - 272px)/2);height: calc(100vh - 110px);">
        <div class="content" id="content2" tabindex="0">
        </div>
    </div>
</div>

<!-- 右上角的浮动按钮显示项目事件数等信息 -->
<div class="float" id="float">
    <div v-show="statusData.isShowFloat">
        <div id="floatMsg"></div>
    </div>
    <div class="btn">
        <img src="assets/main/floatMsg.png" @click="statusData.isShowFloat=!statusData.isShowFloat">
    </div>
</div>

<div class="attributePop" id="attributePopList" v-if="statusData.isShowProperty">
    <div id="attributePop"></div>
</div>
