<!-- 结构树栏 v-show="statusData.modeID!=2"-->
<div class="tree" id="treeList">
    <div class="tree-content" v-show="statusData.isShowTree">
        <div id="tree"></div>
    </div>
</div>

<!-- 画布1  把画版放到tabs中，因为需要boardWidth监管画布的大小 -->
<div class="tabs" id="tabList">
    <div class="tab-content" v-show="statusData.isShowTab">
        <div id="tab"></div>
    </div>

    <!-- 画板 style="width: calc(100vw - 272px);height: calc(100vh - 100px);"> -->
    <div class="drawingBoard" id="drawingBoard" :style="{ width: boardWidth, height: boardHeight }">
        <div class="content" id="content" tabindex="0"></div>

        <div class="axis_x" id="axis_x">
            <canvas id="canvas_axis_x"></canvas>
        </div>

        <div class="axis_y" id="axis_y">
            <canvas id="canvas_axis_y"></canvas>
        </div>
    </div>
</div>

<!-- 画布2 -->
<div class="tabs" id="tabList2">
    <div class="tab-content" v-show="statusData.isShowTab&&statusData.isSplitScreen">
        <div id="tab2"></div>
    </div>

    <div v-show="statusData.isSplitScreen" class="drawingBoard" id="drawingBoard2"
        style="width: calc(50vw - 140px);height: calc(100vh - 106px);margin-left: 5px;">
        <div class="content" id="content2" tabindex="0"></div>
    </div>
</div>

<!-- 右上角的浮动按钮显示项目事件数等信息 -->
<div class="float" id="float">
    <div v-show="(!statusData.isSplitScreen)&&statusData.isShowFloat">
        <div id="floatMsg"></div>
    </div>
    <div class="btn" v-show="(!statusData.isSplitScreen)">
        <img src="assets/main/floatMsg.png" @click="statusData.isShowFloat=!statusData.isShowFloat">
    </div>
</div>

<div class="attributePop" id="attributePopList" v-if="statusData.isShowProperty">
    <div id="attributePop"></div>
</div>