<div style="display: flex;margin-left: 5px;">
    <template v-if="tabsArr.length>0">
        <div v-for="(item,index) in tabsArr" :key="item.id"
            :class="`tab ${statusData.currentTreeID2==item.id?'activeTab':''}`" @click="clickTab(item.id)">
            <i v-if="statusData.isSplitScreen" class="el-icon-back" @click.stop="changeScreen(item.id,index)"></i>
            {{item.name}}
            <i class="el-icon-circle-close" @click.stop="closeTab(index)"></i>
        </div>
    </template>
    <div v-else style="height: 43px;"></div>
</div>