<el-dialog title="new Behavior Tree" :visible.sync="addTreeVisible" width="30%">
    Name: <el-input v-model="newTreeName" placeholder="请输入新建树名称"></el-input>
    <span slot="footer" class="dialog-footer">
        <el-button @click="addTreeVisible = false">取 消</el-button>
        <el-button :disabled="newTreeName.trim()==''" type="primary" @click="addTree()">确 定</el-button>
    </span>
</el-dialog>
<div class="content-el_tree" id="content-el_tree">
    <div class="pane topPane" ref="topPane">
        <div class="treeHeader">
            <span>项目</span>
        </div>
        <div class="treeBody">
            <el-tree :data="project" :props="defaultProps" @node-click="handleTreeClick" @node-contextmenu="rightClick"
                default-expand-all>
                <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span>
                        <i v-if="data.isMainTree && node.isLeaf" class="el-icon-star-off"></i>
                        <input v-if="data.isEditing" v-model="data.label" @click.stop @blur="editTreeName(node,data)"
                            @keyup.enter="editTreeName(node,data)" style="width: 100px" />
                        <span v-else>{{ node.label }}</span>
                    </span>

                    <span>
                        <i class="el-icon-edit" style="margin-right: 5px;" @click.stop="startEdit(node, data)"></i>
                        <i v-if="node.level==1" class="el-icon-plus" @click.stop="() =>addTreePre(node,data)"></i>
                        <i v-else class="el-icon-delete" @click.stop="() =>delteTree(node,data)"></i>
                    </span>
                </span>
            </el-tree>
        </div>
    </div>
    <div class="divider" @mousedown="startDrag"></div>
    <div class="pane bottomPane" ref="bottomPane">
        <div class="treeHeader">
            <span>节点类型</span>
            <el-input clearable class="filterInput" placeholder="输入关键字" v-model="filterNodeText"
                prefix-icon="el-icon-search">
            </el-input>
            <div>
                <i @click="addNode" class="el-icon-plus" style="margin-right: 5px;"></i>
            </div>
        </div>
        <div class="treeBody">
            <el-tree id="modelTree" :data="model" default-expand-all :filter-node-method="filterNode" ref="tree">
                <template #default="{ node, data }">
                    <span :data-type="node.parent.data.type" :data-nodeType="node.parent.data.nodeType"
                        :data-isLeaf="node.isLeaf" :style="{ color: data.isUser ? '#0000ff' : 'inherit' ,width:'100%'}">
                        <i v-if="data.isUser" class="el-icon-edit"></i>
                        {{ data.ID }}
                    </span>
                </template>
            </el-tree>
        </div>
    </div>
</div>