<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script src="../../../static/vue.js"></script>
    <style>
        @import "./public/pages/login/login.css";
    </style>
</head>

<body>
    <div id="login" v-cloak>
        <div class="login-container">
            <h2>用户登录</h2>
            <input type="text" v-model="username" placeholder="用户名">
            <input type="password" v-model="password" placeholder="密码">
            <button @click="login">登录</button>
            <button @click="register" style="margin-top: 0.5rem;">注册</button>
            <div v-if="msg" class="msg" :style="{ color: msgColor }">{{ msg }}</div>
        </div>
    </div>
    <script type="module" src="./public/pages/login/login.js"></script>
</body>

</html>