<!-- 导出zip文件 -->
<el-dialog title="导出" :visible.sync="fileExportDialogVisible" width="800px">
    <el-form v-if="fileExportDialogVisible" ref="saveForm" :rules="saveFormRules" :model="info" label-width="80px">
        <el-form-item label="导出项目" prop="exportProject">
            <div class="selectProject">
                <el-select v-model="exportProject" placeholder="请选择要导出的项目" @change="selectProject">
                    <el-option style="font-size: 16px;" v-for="item in project" :key="item.label" :label="item.label"
                        :value="item"></el-option>
                </el-select>
            </div>
        </el-form-item>

        <el-form-item label="文件名称" prop="name">
            <el-input v-model="info.name"></el-input>
        </el-form-item>
    </el-form>
    <div style="text-align: center">
        <el-button @click="fileExportDialogVisible=false">取消</el-button>
        <el-button :disabled="!info.name||!exportProject" type="primary" @click="fileExport">确定</el-button>
    </div>
</el-dialog>
<!-- 新建 ,'header-item-operation':statusData.isCompute-->
<div style="margin-left: 16px;" class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="新建" placement="top">
        <img src="assets/header/xinjian.png" @click="create()" draggable="false">
    </el-tooltip>
</div>
<!-- 打开单个xml ,'header-item-operation':statusData.isCompute-->
<div class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="打开单个xml文件" placement="top">
        <img src="assets/header/danwenjian.png" @click="triggerFileInput" draggable="false">
    </el-tooltip>
</div>

<!-- 打开文件夹 ,'header-item-operation':statusData.isCompute-->
<!-- <div class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="打开文件夹" placement="top">
        <img src="assets/header/dakai.png" @click="triggerFolderInput" draggable="false">
    </el-tooltip>
</div> -->

<input type="file" ref="fileInput" style="display: none;" @change="handleFileChange" accept=".xml">
<input type="file" ref="folderInput" style="display: none;" @change="handleFileChange" webkitdirectory>

<!-- 导出 :class="{'header-item-hover':statusData.canvasChanged,
'header-item-operation':statusData.isCompute||!statusData.canvasChanged,}"-->
<div class="header-item header-item-hover" >
    <el-tooltip effect="light" content="导出" placement="top">
        <img src="assets/header/daochu.png" @click="openExport()" draggable="false">
    </el-tooltip>
</div>


<div class="bar" style="margin-left: 13px;"></div>
<!-- 复制 -->
<!-- <div class="header-item"
    :class="{'header-item-hover':statusData.operation_copy_delete,'header-item-operation':!statusData.operation_copy_delete}">
    <el-tooltip effect="light" content="复制" placement="top">
        <img src="assets/header/fuzhi.png" @click="copy()" draggable="false">
    </el-tooltip>
</div> -->
<!-- 粘贴 -->
<!-- <div class="header-item"
    :class="{'header-item-hover':statusData.operation_paste,'header-item-operation':!statusData.operation_paste}">
    <el-tooltip effect="light" content="粘贴" placement="top">
        <img src="assets/header/zhantie.png" @click="paste()" draggable="false">
    </el-tooltip>
</div> -->

<!-- 删除 -->
<div class="header-item"
    :class="{'header-item-hover':statusData.operation_copy_delete,'header-item-operation':!statusData.operation_copy_delete}">
    <el-tooltip effect="light" content="删除" placement="top">
        <img src="assets/header/guanbi.png" @click="delete_()" draggable="false">
    </el-tooltip>
</div>
<div class="bar" style="margin-left: 12px;margin-right: 20px;"></div>
<!-- 自动布局 ,'header-item-operation':statusData.isCompute-->
<div class="header-item "
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="自动布局" placement="top">
        <!-- :class="{'header-item-autoLayout':isAutoLayoutMode}" -->
        <img src="assets/header/zidongbuju.png" @click="autoLayout()" draggable="false">
    </el-tooltip>
</div>
<!-- 缩小 ,'header-item-operation':statusData.isCompute-->
<div class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="缩小" placement="top">
        <img src="assets/header/suoxiao.png" @click="narrow()" draggable="false">
    </el-tooltip>
</div>
<div class="header-item" style="position: relative;margin: 0px 20px 0px 14px;">
    <!--    <span class="header-item-span">%</span>-->
    <!--    <el-input v-model="scale" type="number"></el-input>-->
    <div style="width: 100px">
        <el-slider v-model="scale" :min="25" :max="200"></el-slider>
    </div>
    <div style="width:100%;text-align:center;position: absolute;font-size: 12px;color: #666666;top: 38px;">
        {{ scale + '%' }}
    </div>
</div>
<!-- 放大 ,'header-item-operation':statusData.isCompute-->
<div class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="放大" placement="top">
        <img src="assets/header/fangda.png" @click="enlarge()" draggable="false">
    </el-tooltip>
</div>
<div class="bar" style="margin-left: 13px;margin-right: 20px;"></div>

<!-- 系统信息 ,'header-item-operation':statusData.isCompute-->
<div style="width: 64px;" class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="设置" placement="top">
        <img src="assets/header/setting.png" @click="getOSAndBrowser()" draggable="false">
    </el-tooltip>
</div>
<!-- 设置 380-->
<el-dialog class="editDialog" title="设置" :visible.sync="softInfoID" width="670px">
    <div class="formBody">
        <h4>General</h4>
        <div class="border-line"></div>
        <!-- 显示端口： -->
        <div class="sysItem">
            <el-checkbox v-model="statusData.showPort" @change="changeShowPort">Show Port</el-checkbox>
        </div>
        <!-- 显示前置/后置条件： -->
        <div class="sysItem">
            <el-checkbox v-model="statusData.showPrePost">Show Pre/Post conditions</el-checkbox>
        </div>
        <!-- 在两行中切割端口和条件名称和值 ：-->
        <div class="sysItem">
            <el-checkbox v-model="statusData.splitTwoLines">Split Port & Condition names and value on two
                lines</el-checkbox>
        </div>
        <!-- 自适应分割条件 -->
        <div class="sysItem">
            <el-checkbox v-model="statusData.splitCondition">Split Condition Adaptively</el-checkbox>
        </div>
        <!-- yingyingw -->
        <h4>Editor</h4>
        <div class="border-line"></div>
        <!-- Automatically load<include> files  `自动加载/\<include>\文件` -->
        <div class="sysItem">
            Automatically load&lt;include&gt;files
            <template>
                <el-radio-group style="margin-left: 15px;" v-model="statusData.loadInclude">
                    <el-radio :label="1">Ask</el-radio>
                    <el-radio :label="2">Always</el-radio>
                    <el-radio :label="3">Never</el-radio>
                </el-radio-group>
            </template>
        </div>
        <h4>软件信息</h4>
        <!-- <hr style="margin: 7px 0px 24px;" /> -->
        <div class="border-line"></div>
        <!-- 浏览器版本： -->
        <div class="sysItem">
            <div class="infoName">操作系统</div>： {{ softInfo.sysInfo }}
        </div>
        <div class="sysItem">
            <div class="infoName">浏览器</div>：
            {{ softInfo.browserInfo }}
        </div>
        <div class="sysItem">
            <div class="infoName">发布版本</div>：
            {{ softInfo.softVersion }}
        </div>
        <div class="sysItem">
            <div class="infoName">发布日期</div>：
            {{softInfo.currentDate }}
        </div>
    </div>
    <!-- <el-form :model="softInfo" label-width="130px">
        <el-form-item label="浏览器版本">
            <p>{{ softInfo.sysInfo }}</p>
        </el-form-item>
        <el-form-item label="操作系统">
            <p>{{ softInfo.browserInfo }}</p>
        </el-form-item>
        <el-form-item label="软件版本">
            <p>{{ softInfo.softVersion }}</p>
        </el-form-item>
    </el-form> -->
</el-dialog>
<!-- 用户管理 ,'header-item-operation':statusData.isCompute-->
<div class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="用户管理" placement="top">
        <img src="assets/header/user.png" @click="userManagement()" draggable="false">
    </el-tooltip>
</div>
<!-- 登出 ,'header-item-operation':statusData.isCompute-->
<div class="header-item"
    :class="{'header-item-hover':!statusData.isCompute}">
    <el-tooltip effect="light" content="登出" placement="top">
        <img src="assets/header/logOut.png" @click="logOut()" draggable="false">
    </el-tooltip>
</div>